/*-----------------------------------------------------------------------------------

	* base.scss * 

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	css reset
-----------------------------------------------------------------*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::before,
::after {
  box-sizing: inherit;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* ----------------------------------------------------------------
	basic styles
-----------------------------------------------------------------*/

body {
  font-family: $font-family_base;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: $font-size_base;
  color: $font-color_base;
  background-color: $bg-color_body;
}

h1 {
  font-family: $font-family_accent;
  font-weight: 500;
}

a {
  transition: all 0.4s;

  &:visited {
    color: currentColor;
  }
  &:hover,
  &:active {
    background-color: rgba($font-color_base, 0.05);
  }
  &:focus {
    outline: currentColor;
  }
}

button {
  cursor: pointer;
  position: relative;
  z-index: 1;
  transition: all 0.4s;

  &:hover,
  &:active {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($font-color_base, 0.1);
      z-index: -1;
    }
  }
  &:focus {
    outline: $font-color_base;
  }
}

.container {
  width: 100%;
  max-width: 610px;
  margin: 0 auto;
  background-color: $bg-color_container;
}
