/*-----------------------------------------------------------------------------------

	* shipped.scss *

-----------------------------------------------------------------------------------*/

.shipped {
  text-align: center;
  background-color: $bg-color_container;

  .shipped__title {
    padding: 36px 0;
    // font-size: $font-size_xxl;
    font-size: 36px;
    background-color: $color_primary-light;

    @include screen-md {
      padding-bottom: 39px;
      letter-spacing: 1px;
    }
  }
  .shipped__item,
  .shipped__tracking,
  .shipped__bill {
    background-color: $bg-color_body;
  }

  .shipped__item {
    margin: 21.6px 0 24px;
    padding: 18px;

    p {
      font-weight: 600;
      span {
        margin-right: 18px;
        color: $font-color_mute;
      }
      &:first-of-type {
        margin-bottom: 9px;
        margin-left: -8px;
      }
      &:nth-of-type(2) {
        span {
          margin-right: 12px;
        }
      }
    }
    @include screen-md {
      display: flex;
      justify-content: space-between;
      margin: 28px 0 9px;
      padding: 13px 20px;

      p {
        &:first-of-type {
          margin-bottom: 0;
          margin-left: 8px;
          span {
            margin-right: 9px;
          }
        }
        &:nth-of-type(2) {
          position: relative;
          right: 8px;
          span {
            margin-right: 10px;
          }
        }
      }
    }
  }
  .shipped__tracking {
    padding: 47px 28px 56px;

    @include screen-md {
      padding: 42px 70px 35px;
    }

    .tracking__slider {
      margin: 0 auto;
      position: relative;

      @include screen-md {
        padding-left: 70px;
        padding-right: 70px;
      }
      .slider__value {
        display: flex;
        justify-content: space-between;
        width: 270px;
        margin: 0 auto;

        p:nth-of-type(1) {
          margin-left: -8px;
          @include screen-md {
            margin-left: -22px;
          }
        }
        p:nth-of-type(2) {
          margin-left: -20px;
        }
        p:nth-of-type(3) {
          // margin-left: -4px;
          position: relative;
          right: 4px;
          @include screen-md {
            right: 10px;
          }
        }

        @include screen-md {
          width: 250px;
        }
        p {
          font-size: $font-size_xs;
          color: $font-color_mute;
        }
      }
      .slider__bar {
        // slider is not in the center of the page on the design
        // that is why so much movement in px
        display: block;
        width: 227px;
        height: 5px;
        margin: 15px auto;
        position: relative;
        left: -9px;
        background-color: $font-color_mute;

        @include screen-md {
          left: -15px;
        }

        span {
          width: 12px;
          height: 12px;
          border-radius: 50%;
          position: absolute;
          top: 50%;
          transform: translate(0, -50%);
          background-color: $font-color_mute;
        }
        .stop1 {
          left: -2px;
        }
        .stop2 {
          left: 108px;
        }
        .stop3 {
          right: -4px;
        }
        .active {
          background-color: $color_accent;
        }
      }
      .slider__position {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 25px;
        padding: 0 9px;
        text-align: center;
        p {
          font-weight: 600;

          span {
            display: block;
            font-size: $font-size_xs;
            font-weight: normal;
            line-height: 1.6;
            color: $font-color_mute;
          }
        }
        .start {
          width: 66px;
        }
        .end {
          width: 113px;
          position: relative;
          top: -6px;
          left: 7px;
          @include screen-md {
            top: 0;
          }
        }
        @include screen-md {
          position: absolute;
          top: -19px;
          left: 0;
          padding: 0 10px;
        }
      }
    }
    .tracking__input {
      margin-top: 46px;
      width: 100%;
      overflow: hidden;
      position: relative;

      input[type="text"] {
        height: 40px;
        width: 100%;
        padding: 0 130px 0 19px;
        color: $color_accent;
        vertical-align: middle;
        border: 1px solid $font-color_base;
      }

      input[type="submit"] {
        margin-left: -130px;
        padding-left: 4px;
        height: 40px;
        width: 130px;
        position: absolute;
        font-size: $font-size_xs;
        font-weight: 600;
        color: $font-color_light;
        text-transform: uppercase;
        background-color: $color_accent;
        vertical-align: middle;
        border-left: none;
        border-top: 1px solid $font-color_base;
        border-right: 1px solid $font-color_base;
        border-bottom: 1px solid $font-color_base;
      }
    }
  }
  .shipped__bill {
    margin: 22px 0 0;
    padding: 32px 32px 20px;

    @include screen-md {
      margin-top: 9px;
      padding-top: 15px;
      padding-bottom: 0;
    }

    > div {
      @include screen-md {
        display: flex;
        justify-content: space-between;
      }
    }

    .bill__title {
      padding-bottom: 7px;
      font-size: $font-size_xs;
      font-weight: 600;
      text-align: left;
      letter-spacing: 0.5px;
      border-bottom: solid 1px rgba($font-color_base, 0.22);
    }
    .bill__items,
    .bill__count {
      width: 303px;
      margin: 0 auto;

      @include screen-md {
        width: 230px;
        margin: 0;
      }
    }
    .bill__items {
      display: flex;
      justify-content: space-between;
      text-transform: uppercase;
      text-align: left;
      font-size: $font-size_xxs;

      @include screen-md {
        width: 250px;
      }

      div {
        padding: 24px 0;

        .img {
          width: 75px;
          height: 75px;
          position: relative;
          background: $color_primary-light;

          .badge {
            display: -ms-grid;
            display: grid;
            // place-items: center; //ishues with IE
            align-items: center;
            justify-content: center;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            position: absolute;
            right: 0;
            bottom: 21px;
            font-size: $font-size_sm;
            font-weight: 600;
            color: $font-color_light;
            background-color: $color_accent;

            @include screen-md {
              right: 7px;
            }
          }
        }
      }
      h3,
      h2 {
        color: $color_primary;
      }
      h3 {
        margin-top: 4px;
      }
      h2 {
        margin: -1px 0 4px;
        font-size: $font-size_sm;
        font-weight: 600;
      }
      p {
        font-weight: 300;
      }
    }
    .bill__count {
      padding: 12px 0;

      @include screen-md {
        margin-top: 16px;
        padding-top: 18px;
        padding-bottom: 10px;
      }
      div {
        display: flex;
        justify-content: space-between;
        margin-bottom: 9px;
        font-size: $font-size_sm;

        &:first-of-type,
        &:last-of-type {
          font-weight: 600;
        }
        &:last-of-type {
          margin-top: 15px;
          padding-top: 15px;
          border-top: solid 1px rgba($font-color_base, 0.22);
        }
      }
    }
  }
  .shipped__tagline {
    padding: 37px 74px 0;
    font-weight: 600;
    color: $color_primary;
    background-color: $bg-color_container;

    @include screen-md {
      padding-top: 34px;
    }
  }
}
