/*-----------------------------------------------------------------------------------

	* welcome.scss *

-----------------------------------------------------------------------------------*/

.welcome {
  text-align: center;

  .welcome__user {
    padding: 62px 84px 63px;
    color: $font-color_light;
    // font-size: $font-size_xxxl;
    font-size: 38px;
    line-height: 1;
    background-color: $color_accent;

    @include screen-md {
      padding: 90px 0;
    }
  }

  h2 {
    margin: 37px 70px 18px;
    font-size: $font-size_xl;
    font-weight: 700;

    @include screen-md {
      margin: 27px 80px 8px;
    }
  }

  h3 {
    font-weight: 600;
    font-size: $font-size-base;
    color: $color_primary;
    margin-left: 5px; // to match the design precisely
  }

  .welcome__account-menu {
    display: flex;
    justify-content: center;
    margin: 41px 0 34px;

    @include screen-md {
      margin: 37px 0 34px;
    }

    > a {
      width: 100px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: -4px; // to match the design more
      margin-top: 2px; // to match the design more

      &:nth-of-type(2) {
        @include screen-md {
          margin-left: -7px; // to match the design more
        }
      }
      &:nth-of-type(3) {
        margin-top: -1px; // to match the design more
      }

      span {
        margin-top: 5px;
        font-size: $font-size_xs;
        font-weight: 600;
      }
    }
  }
  p {
    width: 170px;
    margin: 43px auto 39px;

    @include screen-md {
      margin-top: 0;
      width: 350px;
    }
  }
  button {
    width: 260px;
    padding: 13px 0;
    color: $font-color_light;
    font-size: $font-size_lg;
    font-weight: 600;
    background-color: $color_primary;
    border: none;

    @include screen-md {
      width: 516px;
    }
  }
}
