/*-----------------------------------------------------------------------------------

	* welcome.scss *

-----------------------------------------------------------------------------------*/

.welcome {
  text-align: center;

  .welcome__user {
    padding: 59px 84px;
    color: $font-color_light;
    font-size: $font-size_xxxl;
    background-color: $color_accent;

    @include screen-md {
      padding: 100px 0;
    }
  }

  h2 {
    margin: 36px 80px 18px;
    font-size: $font-size_xl;
    font-weight: 700;
  }

  h3 {
    font-weight: 600;
    color: $color_primary;
  }

  .welcome__account-menu {
    display: flex;
    justify-content: center;
    margin: 40px 0;

    > a {
      width: 100px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      span {
        margin-top: 5px;
        font-size: $font-size_xs;
        font-weight: 600;
      }
    }
  }
  p {
    width: 170px;
    margin: 0 auto 42px;

    @include screen-md {
      width: 350px;
    }
  }
  button {
    width: 260px;
    padding: 11px 0;
    color: $font-color_light;
    font-size: $font-size_lg;
    font-weight: 600;
    background-color: $color_primary;
    border: none;

    @include screen-md {
      width: 516px;
    }
  }
}
